.result
  
  .return-btn
    %p= link_to 'トップへ戻る', root_path
  .header
    結果画面
  .player
    .player-name
      /名前
      = @summoner_name
    .player-icon
      /= image_tag "icons/4446.png", size: "200x200",class:"icon-image"
      = image_tag "icons/#{@icon}.png", size: "200x200", alt: "アイコン画像"
    .player-rank
      /ランク
      = @rank
    .player-senseki
      /1勝
      = @win
      勝
      /1敗
      = @lose
      敗
      
    




