.result
  
  .return-btn
    %p= link_to 'トップへ戻る', root_path
  .header
    結果画面
  .player
    .player-name
      /名前
      = @summoner_name
    .player-icon
      %img{alt: "アイコン画像", border: "0", height: "", src: "http://ddragon.leagueoflegends.com/cdn/9.3.1/img/profileicon/#{@icon}.png", width: "200px"}/
    .player-rank
      /ランク
      = image_tag "ranked-emblems/#{@rank}.png", size: "20x20", alt: "ランク画像"
      %a{:href => "#"}
        = @rank
        %span.remark
          = image_tag "ranked-emblems/CHALLENGER.png", size: "20x20", alt: "ランク画像"
          CHALLENGER
          %br
          = image_tag "ranked-emblems/GRANDMASTER.png", size: "20x20", alt: "ランク画像"
          GRANDMASTER
          %br
          = image_tag "ranked-emblems/MASTER.png", size: "20x20", alt: "ランク画像"
          MASTER
          %br
          = image_tag "ranked-emblems/DIAMOND.png", size: "20x20", alt: "ランク画像"
          DIAMOND
          %br
          = image_tag "ranked-emblems/PLATINUM.png", size: "20x20", alt: "ランク画像"
          PLATINUM
          %br
          = image_tag "ranked-emblems/GOLD.png", size: "20x20", alt: "ランク画像"
          GOLD
          %br
          = image_tag "ranked-emblems/SILVER.png", size: "20x20", alt: "ランク画像"
          SILVER
          %br
          = image_tag "ranked-emblems/BRONZE.png", size: "20x20", alt: "ランク画像"
          BRONZE
          %br
          = image_tag "ranked-emblems/IRON.png", size: "20x20", alt: "ランク画像"
          IRON
          %br
          = image_tag "ranked-emblems/UNRANKED.png", size: "20x20", alt: "ランク画像"
          UNRANKED



    .player-senseki
      /勝利数
      = @win
      勝
      /敗北数
      = @lose
      敗
  .champion
    最後に使ったチャンピオン
    =@last_champion_name
    %img{alt: "アイコン画像", border: "0", height: "50px", width: "50px", src: "http://ddragon.leagueoflegends.com/cdn/9.3.1/img/champion/#{@last_champion_name}.png"}/
    




